.user-list-container {
  width: 350px;
  max-height: 90vh; /* Set a maximum height relative to the viewport height */
  padding: 1px;
  overflow-y: auto;
}

.user-list-container h3{
  margin-left: 35px;
  border-bottom: 1px solid #ddd;
  padding-bottom: 28px;
}

.search-bar {
  /* width: 100%; */
  /* padding: 8px; */
  border-top: 1px solid #ddd;
  
  margin-bottom: 10px;
  /* box-sizing: border-box; */
  /* border: 1px solid #ccc; */
  /* border-radius: 5px; */
  border-radius: 0;
  font-size: 14px;
  margin:9px;
  padding:14.5px;
}

.user-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  height: calc(100% - 60px);
  font-weight: bold;
  /* align-items: center; */
  /* text-align: center; */
}

.user-list li {
  /* margin-bottom: 10px; */
  cursor: pointer;
  /* border: 1px solid #ffffff; */
  padding: 10px;
  /* padding-top: 20px; */
  /* padding-bottom: 20px; */
  /* border-radius: 15px; */
  background-color:#edf0f5;
  padding-left: 30px;
}
.user-list li:hover {
  background-color: #f5f5f5;
}


/* Hide scrollbar */
.user-list-container::-webkit-scrollbar {
  width: 0;
  height: 0;
}

li.selected-user {
  /* color: #1A73E9; */
  /* background-color: #2f8d7f; */
  /* color: #ffff; */
  background-color: #f5f5f5;

}
  